version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: expense_divider_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_DB: expense_divider
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
